<!-- footer -->
<div id="footer">
    <div class="container">
        <ul class="nav">
            <li><a href="{{ path('main') }}">Home</a>|</li>
            <li><a href="{{ path('about') }}">About Us</a>|</li>
            <li><a href="{{ path('solutions') }}">Solutions</a>|</li>
            <li><a href="{{ path('partners') }}">Partners</a>|</li>
            <li><a href="{{ path('consulting') }}">Consulting</a>|</li>
            <li><a href="{{ path('contact') }}">Contact Us</a></li>
        </ul>
        <div class="wrapper">
            <div class="fleft">Copyright &copy; 2009</div>
            <div class="fright">Flash Templates from <a href="http://www.templatemonster.com/flash-templates.php"
                                                        target="_blank" rel="nofollow">www.templatemonster.com</a> -
                Squeeze Your Competitors.
            </div>
        </div>
    </div>
</div>