<!-- header -->
<div id="header">
    <div class="container">
        <div class="row-1">
            <div class="logo"><a href="{{ path('main') }}"><img alt="" src="{{ asset('build/logo.jpg') }}"/></a></div>
            <ul class="top-links">
                <li><a href="index.html"><img alt="" src="{{ asset('build/top-icon1.jpg') }}"/></a></li>
                <li><a href="#"><img alt="" src="{{ asset('build/top-icon2.jpg') }}"/></a></li>
                <li><a href="{{ path('contact') }}"><img alt="" src="{{ asset('build/top-icon3.jpg') }}"/></a></li>
            </ul>
        </div>
        <div class="row-2">
            <!-- nav box begin -->
            <div class="nav-box">
                <div class="left">
                    <div class="right">
                        <ul>
                            <li><a href="{{ path('main') }}" class="first-current"><em><b>HOME</b></em></a></li>
                            <li><a href="{{ path('about') }}"><em><b>ABOUT US</b></em></a></li>
                            <li><a href="{{ path('solutions') }}"><em><b>SOLUTIONS</b></em></a></li>
                            <li><a href="{{ path('partners') }}"><em><b>PARTNERS</b></em></a></li>
                            <li><a href="{{ path('consulting') }}"><em><b>CONSULTING</b></em></a></li>
                            <li><a href="{{ path('contact') }}" class="last"><em><b>CONTACT US</b></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- nav box end -->
        </div>
    </div>
</div> <!-- header -->
